modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "xorg.libxcb", "mesa", "gtk3", "glib", "pango", "cairo", "gdk-pixbuf", "atk", "at-spi2-atk", "cups", "dbus", "expat", "libdrm", "nspr", "nss", "alsa-lib", "libxkbcommon"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Electron App"

[[workflows.workflow]]
name = "Electron App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[workflows.workflow.metadata]
outputType = "vnc"

[[ports]]
localPort = 5173
externalPort = 80
